asn1crypto==0.24.0
Babel==2.6.0
cffi==1.11.5
coverage==4.5.1
cryptography==2.3
Django==2.1.2
django-cors-headers==2.4.0
djangorestframework==3.8.2
gunicorn==19.9.0
idna==2.7
mock==2.0.0
pbr==4.3.0
psycopg2-binary==2.7.5
pycparser==2.19
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
