Babel==2.6.0
coverage==4.5.1
Django==2.0.5
django-cors-headers==2.2.0
djangorestframework==3.8.2
gunicorn==19.8.1
mock==2.0.0
pbr==4.0.2
psycopg2-binary==2.7.4
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
