<!DOCTYPE html>
<html>

<head>
    <title>Fondo Montañez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
	{% block content %}
		<div class="form">
            <div class="alert alert-success">
                <center><h2>Cambio de contraseña exitoso</h2></center>
			  	<center>
			  		<p>Tu contraseña ha sido actualizada.</p>
			  		<a href="{% host %}">Ir a página principal</a>
			  	</center>
			</div>
		</div>
	{% endblock %}
</body>

</html>